body {
  font-family: Arial;
  text-align: center;
  background: #f4f6ff;
  margin: 0;
  padding: 10px;
}

input {
  width: 90%;
  padding: 12px;
  font-size: 16px;
  margin-bottom: 10px;
}

.camera-box {
  width: 100%;
  max-width: 360px;
  margin: auto;
}

video {
  width: 100%;
  border-radius: 10px;
  background: black;
}

button {
  width: 90%;
  padding: 12px;
  font-size: 16px;
  margin-top: 10px;
}

#status {
  margin-top: 10px;
  font-weight: bold;
}
