body {
  font-family: Arial;
  text-align: center;
  background: #f4f6ff;
  margin: 0;
  padding: 10px;
}

input {
  width: 90%;
  padding: 12px;
  font-size: 16px;
  margin-bottom: 10px;
}

.camera-box {
  width: 100%;
  max-width: 360px;
  margin: auto;
}

video {
  width: 100%;
  border-radius: 10px;
  background: black;
}

button {
  width: 90%;
  padding: 12px;
  font-size: 16px;
  margin-top: 10px;
}

#status {
  margin-top: 10px;
  font-weight: bold;
}
.anhkhoa {
  display: block;
  margin: 0 auto 20px 0;
  max-width: 100px;
  height: 60px;
  border-radius: 50%;
}
#code {
  width: 50%;
  border-radius: 20px;
  background-color: tomato;
}
button {
  width: 30%;
  color: black;
  border-radius: 50px;
  background-color: rgb(49, 142, 36);
}
button:hover {
  background-color: red;
}
b {
  margin-left: 20%;
}
body {
  background-color: aqua;
}
b {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  min-height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

